/*W3C CSS Validated on 21 May 2014*/

#article_wrapper {
	position:absolute; 
    z-index:1;
    bottom: 0;
    left:-9999px;
	width:100%;
	background:#aaa;
	overflow:auto;
    top: 126px;
    left: 0;
    background: transparent;
}
#article_scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}
#pull_up_article {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
    clear: both;
    margin: 20px 0 30px;
}
