/*W3C CSS Validated on 21 May 2014*/

#todo_list_wrapper {
    position:absolute;
    z-index:1;
    bottom: 0;
    width:100%;
    overflow:auto;
    top: 0px;
    left: 0;
    background: transparent;
}
#todo_list_scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}
#pull_up_todo_list {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
    clear: both;
    margin: 20px 0 30px;
}
/*
@media only screen and (max-width: 768px) {
    #todo_list_scroller {
        height: 900px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #todo_list_scroller {
        height: 660px;
    }
}
*/